<h3 style="text-align:center;"> Cuisine </h3>
<table>
<tr><td>NAME:</td>
<td><%= @cuisine.name%></td></tr> 
</table>
<%=form_for [@cuisine, @dish] do |x| %>
<p>
	<%=x.label :name%> 
	<%=x.text_field :name%> <br>
		<%= x.submit "submit"%>
</p>
<%end%>
<table>
	<% @dishes.each do |dish| %>
		<% if dish.persisted? %>
			<tr>
				<td>NAME:</td> 
				<td><%= dish.name%></td>
				<td><%= link_to 'Edit', edit_cuisine_dish_url(@cuisine.id,dish.id) %></td>
				<td><%=link_to 'show',cuisine_dish_url(@cuisine.id,dish.id)%></td>
				<td><%=link_to 'delete',cuisine_dish_url(@cuisine.id,dish.id), method: :delete%></td>
				  
			</tr>
		<%end%>
	<%end%>
</table>

<%=link_to 'back',cuisines_url%>


