<h3 style="text-align:center;"> Dishes </h3>
<table>
	<% @dishes.each do |dish| %>
	<% if dish.persisted? %>
	<tr><td>NAME:</td> 
<td><%= dish.name%></td>
<td><%=link_to 'edit',edit_cuisine_dish_url(id:dish.id)%></td>
<td><%=link_to 'delete',cuisine_dish_url(id:dish.id), method: :delete%></td>
<td><%=link_to 'show',cuisine_dish_url(id:dish.id)%></td>
</tr> <%end%><%end%>
</table>
<%=link_to 'new',new_cuisine_dish_url(id:@dish.id)%>

